.basketball players {
  font-family: "Times New Roman", serif;
}

#heading {
  font-family: "Times New Roman", serif;
  color: red;
}

.kobe {
  font-family: "Arial", serif;
  color: blue;
}

div {
  width: 250px;
  border: 5px solid green;
  padding: 5px;
  margin: auto;
}

.headpage {
  text-align: center;
}

#basketball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
